#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* display: flex; */
  flex-wrap: wrap;
  gap: 15px;
}

.Parent {
  display: flex;
  flex-wrap: wrap;
}

.Card-1 {
  background-color: #222;
  width: 250px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.Card-1 img {
  height: 100px;
  border-radius: 50%;
}