 :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #dadada;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

 .parent {
  height: 100vh;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  width: 100vw;
  background-color: #242424;
  padding: 50px;
}

.Card {
  border-radius: 30px;
  width: 300px;
  background-color: #fff;
  padding: 20px;
}

.Card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.Card .top img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid #dadada;
}

.Card button {
  background: none;
  color: #8e8e8e;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #dadada;
  width: 90px;
  height: 40px;
  padding: 8px 12px;
}

.Card .center {
  color: #1a1a1a;
  margin-bottom: 100px;
}

.center h2   {
  margin: 5px 0;
  margin-top: 0;
}

.center h3 {
  margin-bottom: 0;
}
.center h3 span {
  font-weight: 100;
  font-size:x-small;
}

.center .span {
  display: flex;
  /* justify-content: space-around; */
  gap: 10px ;
  width: 100%;

}

.center .span button {
  font-size: small;
  width: fit-content;
  /* color: #3333; */
  color: black;
  background-color: #e2e3f8;
  padding: 10px 15px;
}

.bottom {
  display: flex;
  /* text-align: center; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
}

.bottom .location {
  color: black;
  font-size: small;
}

.bottom h3 {
  color: rgb(78, 75, 75);
  margin-bottom: 0;
}

.bottom button {
  width: fit-content;
}